


.kk{
    background-color: #f8cb00;
    background-color: #aa8d0d;

    /* esta puede ser */
    background-color: hsl(49, 100%, 53%);   
    /* esta tambien     */
    background-color: hwb(49 5% 0%);
    background-color: rgb(255, 235, 146);

    background-color: #ff6510;
    background-color: #a54210;


    background-color: #5b6364;
}