.App#perfil{
    background-image:  url(../img/fondoPerfil.jpg);
    overflow: hidden;
}
.App#perfil .nav-container .hamburger-lines .line {
    background: var(--hamburger_scrolHandle_Mapas_Perfil);
}
.cuote{
    text-align: center;
    padding: 10%;
    margin-top: 20vh;

    z-index: 1;
}
.cuote h1{
    color: var(--texto_oscuro1);
    font-size: 2.3rem;
    font-family: 'Montserrat-SemiBold', sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

#badges>div>img {
    margin: 2vw;
    width: 12vw;
    min-width: 70px;
}

#badges .exclusive {
    width: 12vw;
    min-width: 70px;
}

#badges .premium {
    width: 10vw;
    min-width: 60px;
}

#badges .gold {
    width: 8vw;
    min-width: 50px;
}

#badges .silver {
    width: 6vw;
    min-width: 40px;
}

#badges .bronze {
    width: 4vw;
    min-width: 30px;
}





#cronograma{
    padding-bottom: 20px;
}
#cronograma .IsNotLogedMsg{
    background-color: rgba(0, 0, 0, 0.6);

    height: 84vh;
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    z-index: 55;
}
#cronograma .IsNotLogedMsg h1{
    margin-bottom: 30px;
}
.title_card_perfil{
    background-color: var(--fondoTituloTargeta);
    display: grid;
    /* height: 282px; */
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
.title_cronograma{
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, 1fr);
}
.title_cronograma h2{
    grid-column: 1/3;
}
.title_card_perfil h2{
    grid-row: 1;
    /* grid-column: 1/3; */
    margin: 0;
    height: 68px;

    font-size: 2rem;
}
.title_text{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.small_title_text{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

select {
    appearance: none;
    background-color: var(--boton_input);
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
select::-ms-expand {
    display: none;
}
.select {
    width: 100%;
    /* height: 70%; */
    height: 45px;
    margin-bottom: 10px;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    background-color: var(--boton_input);
    cursor: pointer;
    line-height: 1.1;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}
.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--texto1);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;

}
select,
.select:after {
  grid-area: select;
}
.content_cronograma{
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
}
.cronograma_table_title{
    border-bottom: 4px solid var(--hamburger_scrolHandle_home);
    border-radius: 50px;
}
.conLinea {
    border-bottom: 4px solid var(--hamburger_scrolHandle_home);
    border-top: 4px solid var(--hamburger_scrolHandle_home);
    border-radius: 50px;
}
th,td{
    font-family: 'Montserrat-LightItalic' , sans-serif;
}
/* tr.En_progreso{
    background-color: rgba(196, 196, 1, 0.5);
} */
tr.Terminada{
    /* background-color: rgba(39, 39, 39, 0.5); */
    text-decoration:line-through
}
/* tr.Por_iniciar{
    background-color: rgba(172, 255, 47, 0.5);
} */
.actividad, th{
    font-size: 1.3rem;
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    max-width: 100px;
}
.textoLargo{
    font-size: 1rem;
}
.resaltado .actividad{
    padding: 25px;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Montserrat-MediumItalic', sans-serif !important;
}




.content_mapas{
    height: fit-content;
    padding-bottom: 40px;
}
.maps_button_container{
    /* grid-column: 1/3; */
    border-radius: 50px;

    display: flex;
    justify-content: space-evenly;

    z-index: 1;
}
.maps_button_container button{
    width: 45%;
    height: 80px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    z-index: 3;
}
.maps_button_container_false{
    background-color: #393939;
}
.section_of_sections{
    display: grid;
    grid-template-columns: 40% 60%;
    /* grid-template-rows: repeat(4, 1fr); */
}


.maps_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.maps_container svg{
    height: fit-content;
    margin: 0;
}
.individual_map{
    width: 100%;
    height: fit-content;
    padding-top: 30px;
}
iframe{
    width: 90%;
    /* height: 300px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.maps_container img{
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 90vw;
}



.coheteconteiner{
    grid-column: 1/4;
    grid-row: 4;


    display: flex;
    justify-content: center;
    align-items: center;
}
.coheteconteiner .button{
    margin: 0;
    height: 200px;
    width: 200px;

    background-color: transparent;
}
.coheteconteiner .hyperspan{
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none
}
.coheteconteiner .button .circle {
    width: 200px;
    height: 200px;
    margin: 0;
}
.coheteconteiner .button .circle2 {
    width: 200px;
    height: 200px;
    position: relative;
    top: 30%;

    background-image: url("../img/fondo_planeta.jpg");
    background-size: contain;
}
.coheteconteiner .texto{
    display: none;
}
.coheteconteiner .button svg {
    height: 30px;
    transform: rotate(-30deg);
    position: relative;
    top: 70%;
    left: 25%;
}
.button:hover .rocket_container{
    animation: orbit 1.5s 1 ease-in-out;
}
.button:hover svg{
    animation: toRight 1.5s 1 ease-in-out;
}
@keyframes toRight {
    0% {
        left: 25%;
    }
    25% {
        left: 100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 25%;
        transform: rotate(-180deg);
    }
}
#logo{
    background-color: transparent;
    margin-bottom: 50px;
}
#logo img{
    height: 100px;
}


#perfil .sistema_solar_container{
    top: -7vh;
    left: 38vw;
    position: relative;
}
#perfil .sistema_solar{
    top: 0px;
    left: 0vw;
}

#perfil .lugar button{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    width: 80px;
    font-size: 0.8rem;
} 

#admin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin .select{
    width: 70vw;
}
#admin h2, #admin .maps_button_container{
    width: 100%;
}
#admin h3{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
}



@media (min-width: 1024px){
    /* PERFIL */
    .perfil header{
        height: 100vh;
    }
    .cuote {
        grid-row: 4;
        padding-top: 15%;
    }
    .coheteconteiner{
        display: none;
    } 
    /* #mapas, #cronograma{
        height: 145vh;
        margin: 0;
    } */
    .actividad, th {
        font-size: 1.7rem;
        padding: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    iframe{
        width: 40vw;
        height: 50vh;
        margin-top: 40px;
    }
    #logo{
        grid-column: 1/3;
    }
    #logo img {
        height: 150px;
    }
    #perfil .sistema_solar_container{
        left: 35vw;
        top: -16vh;
        /* z-index: 555555; */
    }
    #perfil .sistema_solar_container .sol{
        height: 30vw;
        width: 30vw;
    }
    #perfil .sistema_solar_container .orbit_3 {
        width: 90vw;
        height: 90vw;
        margin: -30vw auto;
    }
    #perfil .sistema_solar_container .orbit_3 .planet {
        margin-left: 30%;
    }
    #perfil .sistema_solar_container .orbit_2 {
        width: 70vw;
        height: 70vw;
        margin: -20vw auto;
    }
    #perfil .sistema_solar_container .orbit_2 .planet {
        margin-left: 12%;
    }
    #perfil .sistema_solar_container .orbit_1 {
        width: 50vw;
        height: 50vw;
        margin: -10vw auto;
    }
    #perfil .sistema_solar_container .orbit_1 .planet {
        margin-left: 13%;
    }
    #perfil .sistema_solar_container .planet {
        width: 50px;
        height: 50px;
    }
    #admin, #badges {
        grid-column: 1 / 3;
    }
}

@media (min-width: 1245px){
    #perfil .sistema_solar_container{
        left: 35vw;
        top: -45vh;     
    }
    #perfil .sistema_solar_container .sol{
        height: 30vw;
        width: 30vw;
    }
    #perfil .sistema_solar_container .orbit_3 .planet {
        margin-left: 35%;
    }
    #perfil .sistema_solar_container .orbit_2 .planet {
        margin-left: 16%;
    }
    #perfil .sistema_solar_container .orbit_1 .planet {
        margin-left: 20%;
    }
}