.App#perfil{
    background-image:  url(../img/fondoPerfil.jpg);
}
.nav-container .hamburger-lines .line {
    background: var(--hamburger_scrolHandle_Mapas_Perfil);
}
/* .sistema_solar {
    position: relative;
    grid-row: 2;
    top: -150px;
    left: 33vw;
} */

.cuote{
    grid-column: 1/4;
    grid-row: 3;

    text-align: center;

    padding: 10%;
}
.cuote h1{
    color: var(--texto_oscuro1);
    font-size: 2.3rem;
    text-transform: uppercase;
}
#credencial{
    background-color: var(--fondoTituloTargeta);
}
#credencial h2{
    background-color: rgba(97, 94, 159, 1);
}
.top_asistencia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.top_asistencia, .comidas{
    padding: 25px;
    padding-top: 0;
}
.asistencia .circulo_qr svg{
   height: 27vw;
   width: 27vw;
}
progress {
    border-radius: 50px;
    width: 80%;
    height: 22px;
}
progress::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 50px;
}
progress::-webkit-progress-value {
    background-color: #9400d4;
    border-radius: 50px;
}
.comidas{
    margin-top: 30px;
    margin-bottom: 30px;
}
.comidas img{
    height: 40px;
    width: auto;
}
.comidas .icono, .comidas .icono_disabled{
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    margin-right: 20px;
}
.comidas .icono_disabled{
    cursor: default;
}
.comidas .icono:hover, .comidas .onload_shake{
    cursor: pointer;
    animation: shake 0.3s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
.comidas h3{
    text-align: left;
    font-size: 1.5rem;
}
.almuerzos .iconos, .coffees .iconos{
    margin-left: 40px;
    margin-top: 10px;
}
.top_asistencia .astronauta_de_caeii{
    grid-column: 1/2;
    width: 55vw;
    height: auto;
}
.top_asistencia .asistencia{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -50px;
    width: 50vw;
}
.top_asistencia .circulo_qr{
    height: 43vw;
    width: 43vw;
    border-radius: 100%;
    background-color: white;
    border-color: #9400d4;
    border-style: solid;
    border-width: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_asistencia .circulo_qr img{
    height: 75%;
    width: 75%;
}
.top_asistencia h3{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat-Black', sans-serif;
}
.comidas{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.modal-content img{
    width: 100%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 25vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 50px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #9400d4;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    color: white;
    height: fit-content;
}
.modal-body {
    padding: 2px 16px;
}


#cronograma{
    padding-bottom: 20px;
}
.title_card_perfil{
    background-color: var(--fondoTituloTargeta);
    display: grid;
    /* height: 282px; */
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
.title_cronograma{
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, 1fr);
}
.title_mapas{
    /* grid-template-columns: 40% 60%;
    grid-template-rows: repeat(4, 1fr); */
}
.title_card_perfil h2{
    grid-row: 1;
    /* grid-column: 1/3; */
    margin: 0;
    height: 68px;

    font-size: 2rem;
}
.title_text{
    font-size: 1.5rem;

    display: flex;
    align-items: center;
}

select {
    appearance: none;
    background-color: var(--boton_input);
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
select::-ms-expand {
    display: none;
}
.select {
    width: 100%;
    /* height: 70%; */
    height: 45px;
    margin-bottom: 10px;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    background-color: var(--boton_input);
    cursor: pointer;
    line-height: 1.1;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}
.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--texto1);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;

}
select,
.select:after {
  grid-area: select;
}
.content_cronograma{
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
}
.conLinea {
    border-bottom: 4px solid var(--hamburger_scrolHandle_home);
    border-radius: 50px;
}
th,td{
    font-family: 'Montserrat-LightItalic' , sans-serif;
}
.actividad, th{
    font-size: 1.3rem;
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
}
.textoLargo{
    font-size: 1rem;
}
.resaltado .actividad{
    padding: 25px;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Montserrat-MediumItalic', sans-serif !important;
}
.content_mapas{
    height: fit-content;
    padding-bottom: 40px;
}
.maps_button_container{
    /* grid-column: 1/3; */
    border-radius: 50px;

    display: flex;
    justify-content: space-evenly;

    z-index: 1;
}
.maps_button_container button{
    width: 45%;
    height: 80px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    z-index: 3;
}
.maps_button_container_false{
    background-color: #393939;
}
.section_of_sections{
    display: grid;
    grid-template-columns: 40% 60%;
    /* grid-template-rows: repeat(4, 1fr); */
}


.maps_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.maps_container svg{
    height: fit-content;
    margin: 0;
}
.individual_map{
    width: 100%;
    height: fit-content;
    padding-top: 30px;
}
iframe{
    width: 90%;
    /* height: 300px; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.coheteconteiner{
    grid-column: 1/4;
    grid-row: 4;


    display: flex;
    justify-content: center;
    align-items: center;
}
.coheteconteiner .button{
    margin: 0;
    height: 200px;
    width: 200px;

    background-color: transparent;
}
.coheteconteiner .hyperspan{
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none
}
.coheteconteiner .button .circle {
    width: 200px;
    height: 200px;
    margin: 0;
}
.coheteconteiner .button .circle2 {
    width: 200px;
    height: 200px;
    position: relative;
    top: 30%;

    background-image: url("../img/fondo_planeta.jpg");
    background-size: contain;
}
.coheteconteiner .texto{
    display: none;
}
.coheteconteiner .button svg {
    height: 30px;
    transform: rotate(-30deg);
    position: relative;
    top: 70%;
    left: 25%;
}
.button:hover .rocket_container{
    animation: orbit 1.5s 1 ease-in-out;
}
.button:hover svg{
    animation: toRight 1.5s 1 ease-in-out;
}
@keyframes toRight {
    0% {
        left: 25%;
    }
    25% {
        left: 100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 25%;
        transform: rotate(-180deg);
    }
}
#logo{
    background-color: transparent;
    margin-bottom: 50px;
}
#logo img{
    height: 100px;
}


@media (min-width: 1024px){
    #credencial {
        grid-column: 1/3;
    }
    /* PERFIL */
    .perfil header{
        height: 100vh;
    }
    .perfil .sistema_solar {
        top: -370px;
    }
    .perfil .sol {
        background: var(--sol_planetas);
        border-radius: 100%;
        width: 450px;
        height: 450px;
        z-index: -5;
    }
    .perfil .orbit_1 {
        width: 680px;
        height: 680px;
        margin: -110px auto;
    }
    .perfil .orbit_2 {
        width: 880px;
        height: 880px;
        margin: -210px auto;
    }
    .perfil .orbit_3 {
        width: 1080px;
        height: 1080px;
        margin: -310px auto;
    }
    .perfil .planet {
        width: 75px;
        height: 75px;
    }
    .perfil .orbit_1 .planet {
        margin: 8%;
    }
    .cuote {
        grid-row: 4;
        padding-top: 15%;
    }
    .coheteconteiner{
        display: none;
    }
    .top_asistencia .astronauta_de_caeii {
        width: auto;
    }
    /* #mapas, #cronograma{
        height: 145vh;
        margin: 0;
    } */
    .actividad, th {
        font-size: 1.7rem;
        padding: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    iframe{
        width: 40vw;
        height: 50vh;
        margin-top: 40px;
    }
    #logo{
        grid-column: 1/3;
    }
    #logo img {
        height: 150px;
    }
}