
/****************Mobile******************/
.App#login{
    background-image:  url(/public/imgs/FondoMovile.jpg);
}

#root,.App#login{
    /* height: 100%; */
    height: 100vh;
}
.App#login main{
    height: 90%;
    z-index: 2;
    overflow: visible;
} 

header{
    grid-template-rows: 25px 200px;
}


.title-login{
    grid-column: 1/4;
    grid-row: 2;
    height: 100%;
    background-color: var(--fondoTitulo);
  
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
    height: 130px;
    margin: 5%;
}

#logo_caeii_desktop{
    display: none;
}



.login-card{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: var(--fondoTargeta);
    border-radius: 50px;
}

form{
    height: 100%;
    text-align: center;
}
form h1{
    margin-top: 30px;
    margin-bottom: 30px;
}
.login-card form input{
    height: 40px;
    width: 80%;

    background-color: var(--boton_input);
    border-style: none;

    font-size: 1.5rem;
    
    margin-bottom: 10px;
    padding-left: 5%;
}
form input::placeholder {
    color: var(--texto2);
}
form button{
    height: 50px;
    width: 200px;

    font-size: 1.2rem;
    margin: 30px;
}
form a{
    display: block;
    color: var(--texto2);
    font-size: 1rem;
    margin-bottom: 5%;
}
.no_contra{
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 0%;
}

.ingresar{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-color: var(--fondoLogo);
    width: 75px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.logo img{
    width: 40px;    
}

#logo_aareii_desktop {
    display: none;
}

#footer-login {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.error_msg{
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**********Desktop***********/

@media (min-width: 1024px) {   
    .App#login{
        background-image:  url(/public/imgs/FondoDesktop.jpg);
    } 
    .App#login main{
        height: 80%;
    } 
    .title-login {
        display: none;
    }

    #logo_caeii_desktop {
        display: block;
        position: absolute;
        top: 20vh;
        width: 25vw;
    }

    .login-card {
        position: absolute;
        top: 3vh;
        left: 22vw;
        height: 85vh;
        width: 55vw;
    }

    .login-card>form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .login-card>form>button {
        font-family: 'Montserrat-Bold';
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.125em;
    }

    .logo {
        display: none;
    }

    #logo_aareii_desktop {
        display: block;
        position: absolute;
        bottom: 15vh;
        right: 0;
        width: 15vw;
    }

}