#menu{
    background-color: transparent;
    overflow: visible;
    height: 45vh;
}
#menu a{
    font-family: 'Montserrat-MediumItalic', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
}
#menu ul {
    list-style-type: none;
    
    font-size: 1.3rem;
    text-align: center;
    margin-left: 10px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    position: absolute;
}

li {
    margin-top: 5px;
    height: 66px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
#uno, #seis{
    grid-column: 5/13;
}
#dos, #cinco{
    grid-column: 6/13;
}
#tres, #cuatro{
    grid-column: 7/13;
}
#uno{
    grid-row: 1;
}
#dos{
    grid-row: 2;
}
#tres{
    grid-row: 3;
}
#cuatro{
    grid-row: 4;
}
#cinco{
    grid-row: 5;
}
#seis{
    grid-row: 6;
}


ul :hover .line_container,
ul :active .line_container {
    padding-left: 0%;
    padding-right: 0%;
    transition: padding-right 0.4s, padding-left 0.4s;
}

.line {
    height: 4px;
    width: inherit;
    border-radius: 100px;
    background-color: white;  
}

.line_container {
    padding-left: 51%;
    padding-right: 51%;
    transition: padding-right 0.4s, padding-left 0.4s;
}



.sistema_solar {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 550px;
    left: -40px;
}

.sol {
    background: var(--sol_planetas);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.planet {
    background: var(--sol_planetas);
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.orbits {
    border: 5px solid var(--orbitas);
    position: absolute;
    border-radius: 100%;

    animation: orbiting infinite linear;
}

.fondo {
    background-color: var(--fondoTargeta);
    width: 195vw;
    height: 195vw;
    margin: -80vw;

    position: absolute;
    z-index: -1;
    border-radius: 100%;
}

.planet_container {
    height: 100%;
}

.orbit_1 {
    width: 200px;
    height: 200px;
    margin: -50px auto;

    animation-duration: 10s;
}

.orbit_1 .planet {
    margin: 5%;
}

.orbit_1 .planet_container {
    transform: rotate(60deg);
}

.orbit_2 {
    width: 300px;
    height: 300px;
    margin: -100px auto;

    animation-duration: 20s;
}

.orbit_2 .planet {
    margin: 10%;
}

.orbit_3 {
    width: 400px;
    height: 400px;
    margin: -150px auto;

    animation-duration: 15s;
}

.orbit_3 .planet {
    margin-left: 26%;
}

.orbit_3 .planet_container {
    transform: rotate(120deg);
}

@keyframes orbiting {
    to {
        transform: rotate(360deg);
    }
}