.App#home{
    background-image:  url(../img/fondoHome.jpg);
}
header{
    height: 75px;
}
.title{
    height: 100%;
    width: 100%;
    background-color: var(--fondoTituloHome);
  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
}
svg{
    height: 130px;
    margin: 5%;
}
section article{
    height: 150px;
    margin: 5%;
    background-color: var(--boton_input);

    border-radius: 100px;
    border: 1px solid black;

    display: grid;
    
    grid-template-rows: 40% 60%;
}
section#conferencias_2 article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
section#conferencias_2 article.flex_derecha{
    flex-direction: row;
}
section#conferencias_2 article.flex_derecha .img{
    margin-right: 10px;
}
section#conferencias_2 article.flex_derecha .conferencias_2_text{
    margin-left: 20px;
    /* width: 50%; */
}



.imgOrbit{
    height: 130px;
    width: 130px;

    position: relative;
    left: 5px;

    border: 5px solid var(--fondoTituloTargeta);
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.derecha .imgOrbit{
    left: -5px;
}
.imgOrbit .planet {
    background: var(--fondoTituloTargeta);
    border-radius: 100%;
    width: 15px;
    height: 15px;

    position: absolute;
    top: -10px;
}
article img{
    height: 90%;
    width: 90%;
    border-radius: 100%;
}
article .img{
    height: 100%;
}
article .img{
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}


#menu{
    background-color: transparent;
    overflow: visible;
    height: 45vh;
}
#menu a{
    font-family: 'Montserrat-MediumItalic', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
}
#menu ul {
    list-style-type: none;
    
    font-size: 1.3rem;
    text-align: center;
    margin-left: 10px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    position: absolute;
}


#uno, #seis{
    grid-column: 5/13;
}
#dos, #cinco{
    grid-column: 6/13;
}
#tres, #cuatro{
    grid-column: 7/13;
}
#uno{
    grid-row: 1;
}
#dos{
    grid-row: 2;
}
#tres{
    grid-row: 3;
}
#cuatro{
    grid-row: 4;
}
#cinco{
    grid-row: 5;
}
#seis{
    grid-row: 6;
}

#registrarse img {
    height: 17px;
}

#estaciones .imgOrbit{
    border-style: hidden;
}
/* #estaciones img{
    height: 90%;
    border-radius: 0;
} */
#estaciones .desktop{
    display: none;
}
article h3, article p{
    grid-column: 2/4;
    text-align: left;
}
article p {
    font-size: 0.8rem;
    margin-left: 6%;
    margin-right: 6%;
}
#estaciones article p {
    font-size: 0.67rem;
}
article h3{
    display: flex;
    align-items: center;
    margin-left: 6%;
    margin-right: 6%;
    font-size: 1rem;
}
#conferencias_1 article h3, #conferencias_2 article h3, #conferencias_1 article p, #conferencias_2 article p{
    margin-top: 20px;
}
.derecha h3, .derecha p{
    text-align: right;
    grid-column: 1/3;
}
.derecha h3{
    flex-direction: row-reverse;
}
.derecha .img{
    grid-column: 3/4;
    grid-row: 1/3;;
}

#registrarse{
    margin-top: 200px;
    background-color: transparent;
    font-size: 1.5rem;
}
#sponsors img{
    max-height: 30vh;
    width: auto;
    margin-bottom: 5%;
}

@media (min-width: 1024px) {
    /* HOME */
    .App#home{
        background-image: url(/src/styles/home/img/desktop_backgraund.jpg);
    }
    .sistema_solar{
        top: 620px;
    }
    .fondo {
        width: 100vw;
        height: 100vw;
        margin: -50vw;
    }
    .title{
        grid-column: 1/3;
    }
    li{
        margin-top: 0;
        height: 75px;
    }
    #menu{
        grid-column: 1/2;
    }
    #registrarse{
        grid-column: 2/3;
    }
    #menu a {
        font-size: 1.8rem;
    }
    #uno, #seis{
        grid-column: 1/9;
    }
    #dos, #cinco{
        grid-column: 3/8;
    }
    #tres, #cuatro{
        grid-column: 2/9;
    }

    #estaciones, #sponsors{
        grid-column: 1/3;
    }
    section{
        margin-right: 10%;
    }
    section h2{
        height: 110px;
        font-size: 2rem;
    }

    #estaciones article{
        grid-template-rows: 100% !important;
        grid-template-columns: 40% 20% 40%;
    }
    #estaciones article h3, #estaciones .derecha p{
        grid-column: 1/2;
    }
    #estaciones article h3{
        font-size: 1.5rem;
        justify-content: center;
    }
    #estaciones article .img, #estaciones .derecha .img{
        grid-column: 2/3;
    }
    #estaciones article p, #estaciones .derecha h3{
        grid-column: 3/4;
    }
    #estaciones article p{
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #estaciones .derecha p, #estaciones .derecha h3{
        grid-row: 1;
    }
    #estaciones .imgOrbit {
        height: 150px;
        width: 150px;
        left: 0;
    }
    #estaciones .leermas{
        height: 100px;
        width: 300px;
    }
    #estaciones .leermas .texto {
        top: -62%;
        font-size: 1.5rem;
    }
    #estaciones .leermas .circle {
        width: 90px;
        height: 90px;
        margin-top: 2%;
    }
    #estaciones .leermas .circle2 {
        width: 90px;
        height: 90px;
    }
    #estaciones .cohete_leer_mas{
        height: 20px !important;
    }
    #estaciones .desktop{
        display: flex;
    }
    #estaciones .movile{
        display: none;
    }
    #estaciones .derecha *{
        text-align: left;
    }
}